@media screen and (max-width: 768px) 



    // Mobile layout

    main
        max-width: 88vw

    nav

        min-height: 27.5vh

        h3
            flex-direction: column
            gap: 1.5em
    