@media screen and (max-width: 768px) 



    // Mobile layout

    main
        max-width: 88vw

    nav
        min-height: 27.5vh
        flex-direction: column
        padding: 1rem

        h3
            flex: auto
            line-height: 125%

    footer
        min-height: 17.5vh